.o_sub_menu{
background:#F6F6F6;

}
.o_main_content{
background:white;
}
.o_control_panel{
background:white;
}.breadcrumb{
background:white;
}.btn-primary{
background:#F18458;
}
.btn-primary hover{
background:#F18458;
}


.oe_menu_text{
color:#F18458;
}.o_primary{
color:#F18458;
}